

#menu{

}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
   color: white;
   text-decoration: none;
}

head{
    margin: 1px;
    padding: 1px;
}
