
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #ffffff;
	font-family: 'Open sans';
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px -22px rgb(18, 18, 131);
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 80px;
}

.menu{
    height: 80px;
    justify-content: center;
    align-items: center;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-select:before{
    content: '';
    width: 100%;
        height: 4px;
    background: rgb(0, 102, 219);
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color:  rgb(122, 122, 122);
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color:  rgb(37, 75, 156);
    font-weight: bolder;
    transition: color 300ms;
}

.menu .text-menu-select{
    color:  rgb(255, 252, 48);
}


.container-cover{
    width: 100%;
    height: 200px;
    margin-top: 80px; 
    position: relative;
    background-image: url(./Imagenes/img-portada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0, 102, 219, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 100%;
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    text-shadow: rgb(14, 22, 68) 1px 0 10px;
}

.container-footer{
    width: 100%;
    padding: 40px 0px;
    background-color: rgb(255, 255, 255);

}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}



.container-footer h4{
    text-align: center;
    margin-top: 4px;
    color: rgb(42, 42, 71);
    font-weight: 500px;
}

.container-footer hr{
    text-align: center;
    color: rgb(0, 0, 73);
}



.wrap{

	max-width: 95%;
	margin: 20px auto;
    display: flex;
    border-radius: 20px;

}

ul.tabs{
	width: 20%;
	background: #363636;
	list-style: none;
    border-radius: 20px;

}



ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
    border-radius: 10px;
    margin: 10px;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}