*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: white;
    box-shadow: 0 4px 25px -22px rgb(18, 18, 131);
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 80px;
}

.menu{
    height: 80px;
    justify-content: center;
    align-items: center;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-select:before{
    content: '';
    width: 100%;
        height: 4px;
    background: rgb(0, 102, 219);
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color:  rgb(122, 122, 122);
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color:  rgb(37, 75, 156);
    font-weight: bolder;
    transition: color 300ms;
}

.menu .text-menu-select{
    color:  rgb(255, 252, 48);
}


.container-cover{
    width: 100%;
    height: 400px;
    margin-top: 80px; 
    position: relative;
    background-image: url(./Imagenes/img-portada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0, 102, 219, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 100%;
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    text-shadow: rgb(14, 22, 68) 1px 0 10px;;
}


/*COntainer contenido articulos*/

.container-contenido{
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 80;
}


article{
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    background-color: azure;
    box-shadow: 0 4px 25px -22px rgb(18, 18, 131);
}